etc/TyniCAD.dtd

<!ELEMENT tynicad (tag)+>

<!ATTLIST tynicad
    class CDATA #REQUIRED>

<!ELEMENT tag (text*,prop*,ref*,tag*)>

<!ATTLIST tag
    name CDATA #IMPLIED
    root CDATA #IMPLIED
    class CDATA #IMPLIED
    array CDATA #IMPLIED>

<!ATTLIST text
    name CDATA #REQUIRED
    class CDATA #IMPLIED>

<!ATTLIST prop
    name CDATA #REQUIRED
    class CDATA #IMPLIED>

<!ATTLIST ref
    name CDATA #REQUIRED
    class CDATA #IMPLIED>
    